<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Files</key>
	<dict>
		<key>ACPI\SSDT-AWAC.aml</key>
		<data>
		E+blb8Dsn5ejtpFp1bKpFoQiFhDSSPDUzAusJ0GNPrM=
		</data>
		<key>ACPI\SSDT-EC-USBX.aml</key>
		<data>
		jWJQpQ6vRxwRvVD8N/aWPhnKnyqlJTdcKDhP4cNcV0Q=
		</data>
		<key>ACPI\SSDT-PLUG.aml</key>
		<data>
		lQF+dVFnvrw1iiMZgvpyu3jMDYOk419UPAnC6907ESY=
		</data>
		<key>ACPI\SSDT-PMC.aml</key>
		<data>
		jc7luBe401qfWYlnS+vio0r5wqDYVgkyoxvoZtL57WY=
		</data>
		<key>Bootstrap\Bootstrap.efi</key>
		<data>
		e7PQtmJoGjtFlrqCVZzuENsWSNIai+uh5LZOHkSsoHk=
		</data>
		<key>Drivers\AudioDxe.efi</key>
		<data>
		NZ5RY+/DT5moXMecw0kF6mrvQPxzRZosxsgl17X4fb8=
		</data>
		<key>Drivers\CrScreenshotDxe.efi</key>
		<data>
		RDwehDd3itoMfU948yiGGwIqk7xF/fx9OMNFvhke3+U=
		</data>
		<key>Drivers\HfsPlus.efi</key>
		<data>
		WIe9YMNtVnvhJ0hzlmNWsX/dx3Qt88Vft44QcbXsv+0=
		</data>
		<key>Drivers\OpenCanopy.efi</key>
		<data>
		AAMrsjETle6d2OHWxUw+xEZg3apcs7HkuydlxFCJ06E=
		</data>
		<key>Drivers\OpenRuntime.efi</key>
		<data>
		r2QFONaPi17E7pgYGMlgNGeog91MBHelNVTsHZpFsu8=
		</data>
		<key>Kexts\AppleALC.kext\Contents\Info.plist</key>
		<data>
		eRFJzEx9+4v2Ru8wLSfhoCy17e+lrF5pXZuXp8XGdOs=
		</data>
		<key>Kexts\AppleALC.kext\Contents\MacOS\AppleALC</key>
		<data>
		Lku+KiwKMttJW50paTU35s61LcL0kPl8zDSR1iOTtcA=
		</data>
		<key>Kexts\AppleMCEReporterDisabler.kext\Contents\Info.plist</key>
		<data>
		WX7pssNO8pvGucJ3TC4MQeKnhH5qmb2tWVBywJYfQlM=
		</data>
		<key>Kexts\Lilu.kext\Contents\Info.plist</key>
		<data>
		O4bGJIO6wqmvJBI99Swi7OPoo3EU6ofIPRXXZCs3fyM=
		</data>
		<key>Kexts\Lilu.kext\Contents\MacOS\Lilu</key>
		<data>
		EksKhEosOMprb7NEZTEMOb72zicmg3jq2Uub2hpzBYA=
		</data>
		<key>Kexts\NVMeFix.kext\Contents\Info.plist</key>
		<data>
		1330+iRtFOnZTpkmfe3yauMVSdbspzyIHmtCbWKXYtY=
		</data>
		<key>Kexts\NVMeFix.kext\Contents\MacOS\NVMeFix</key>
		<data>
		B8lleHd/mKLt17UUVDZqfA/mM0oZsfzR/2bB7mWgq4o=
		</data>
		<key>Kexts\RealtekRTL8111.kext\Contents\Info.plist</key>
		<data>
		4NV4iqzMX4YZe+mUA2mG7e/wjgrI1lx/mDmyMajPzVE=
		</data>
		<key>Kexts\RealtekRTL8111.kext\Contents\MacOS\RealtekRTL8111</key>
		<data>
		h4L9KBf1BgmbnzKmWc9TEYIAQdI2IxQrQXdDfbCnQ2I=
		</data>
		<key>Kexts\RealtekRTL8111.kext\Contents\Resources\en.lproj\InfoPlist.strings</key>
		<data>
		Oc8u4Ht7Mz58F50L9NeYpbcq9qTlhPUeZCcDu/pPyCg=
		</data>
		<key>Kexts\SMCBatteryManager.kext\Contents\Info.plist</key>
		<data>
		l84qPyMThEZgGaKgS5WHlDeVg+h/pmYMA0iL5cRs4rY=
		</data>
		<key>Kexts\SMCBatteryManager.kext\Contents\MacOS\SMCBatteryManager</key>
		<data>
		kDcq6NL1IKt4W8BkYJVobDsSspWiA6v4J3goVkXzSEA=
		</data>
		<key>Kexts\SMCLightSensor.kext\Contents\Info.plist</key>
		<data>
		iUWIX/dxMwa1wTwiOW2sxmiPPUYHJzFij2MlfzsqoV4=
		</data>
		<key>Kexts\SMCLightSensor.kext\Contents\MacOS\SMCLightSensor</key>
		<data>
		yBvgF7TaIVY18uk+YQExIivSHeHb8wD2af04zf04HN0=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\Info.plist</key>
		<data>
		yDDZJg30pOSX44Ako4qXftCh0Cfr6g6aM9EnT34Vk6Y=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\MacOS\SMCProcessor</key>
		<data>
		4/28buE8avBCVjTZnTUNf5uuor+0W5bSKsA/rQ/q1jE=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\Info.plist</key>
		<data>
		qkJWSv8T2vWRaleoB+K4SbHGveT4oSBHAd2GL/TxbSI=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\MacOS\SMCSuperIO</key>
		<data>
		tQDC4O7YaQSUbYhpAjwfPKmCKQ1RIqPX+0fHOc+ZcuI=
		</data>
		<key>Kexts\SSDT-PNLF.dsl</key>
		<data>
		lX85x6iwdHcVQckPL90OzC19R1OM2DXPcBigDvRr7Ww=
		</data>
		<key>Kexts\USBInjectAll.kext\Contents\Info.plist</key>
		<data>
		jAxBLYnRGg4687W7y7dgCdve8IHkWjZC3q/f//gnEdI=
		</data>
		<key>Kexts\USBInjectAll.kext\Contents\MacOS\USBInjectAll</key>
		<data>
		1m0OmGwyvm9m+6Sze/IF1In3xuI9JUELE9SS7d3cJmo=
		</data>
		<key>Kexts\USBInjectAll.kext\Contents\_CodeSignature\CodeResources</key>
		<data>
		ZobeEKKKL+EbNsu4bcusyCfPxOoRa02r8YReWu5inps=
		</data>
		<key>Kexts\USBMap.kext\Contents\Info.plist</key>
		<data>
		ghYIpK2QLrESDeHxnias1egagVYMT2xPkzLNezCtIDI=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\Info.plist</key>
		<data>
		6RxlUjckr+5n+IwiexTzZV0U2CrtIyJamVVTQa3sNTI=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\MacOS\VirtualSMC</key>
		<data>
		ndDqSQngMIz0k2AsSpSc6RtOazHqwDEXxgI+ntxwJmE=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\Info.plist</key>
		<data>
		5kGMQUiNHDNCeknHx648rHrQcMQJJD7crEZJ6yCr37M=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\MacOS\WhateverGreen</key>
		<data>
		pDgstVpBs+59Rllpg7ZCq0nNutVtUfZPb0mCcYW1ik4=
		</data>
		<key>Keys\ca.pem</key>
		<data>
		ZtC9p0Np/GB6srQmWOKhzmljU0KNEqXE9pUuEQT89PY=
		</data>
		<key>Keys\privatekey.cer</key>
		<data>
		N9L0BA2RZGSy2fLCzTmbkin6rCapt8bgUCVD0y8pPUA=
		</data>
		<key>Resources\Audio\AXEFIAudio_Beep.wav</key>
		<data>
		XRuvrmC8mwN3VEDK8JmV5a9wVKhwApAM112X4t4PArE=
		</data>
		<key>Resources\Audio\AXEFIAudio_Click.wav</key>
		<data>
		XRuvrmC8mwN3VEDK8JmV5a9wVKhwApAM112X4t4PArE=
		</data>
		<key>Resources\Audio\AXEFIAudio_VoiceOver_Boot.wav</key>
		<data>
		RSgBAM1G2oxdiLgM/NV8x3oObcTgFcziPVrJerG0OIU=
		</data>
		<key>Resources\Audio\AXEFIAudio_en_AccountLocked.wav</key>
		<data>
		hDseKQU5dNlZ3efPoFONpBMxj5vrkRxRLdQsxCtJ00E=
		</data>
		<key>Resources\Audio\AXEFIAudio_en_AccountLockedTryLater.wav</key>
		<data>
		dFrYosYv69mnIpt6vL94pxCLaKYFJ6ps1j0bRJthjnU=
		</data>
		<key>Resources\Audio\AXEFIAudio_en_Password.wav</key>
		<data>
		DD75zsNpSA89YOfLY1Z1fZjc0yfUFTb/qneuqOdoZTA=
		</data>
		<key>Resources\Audio\AXEFIAudio_en_Username.wav</key>
		<data>
		4CwB9qzixz5k9Gtk8eDv01n4Q4LgPM5q47IEHQF2lJ8=
		</data>
		<key>Resources\Audio\AXEFIAudio_en_UsernameOrPasswordIncorrect.wav</key>
		<data>
		8CH+ml5LWZSLX4FhdiomQYgdbRijqgxyMtFBlPCAc4U=
		</data>
		<key>Resources\Audio\AXEFIAudio_en_VoiceOverOff.wav</key>
		<data>
		OS/AQwGCouB6RyfVKq3NuN9s2aW4gSdF+XHBu6gHpCo=
		</data>
		<key>Resources\Audio\AXEFIAudio_en_VoiceOverOn.wav</key>
		<data>
		YFJEWN09NjkPdi/06ISKTHtIW3q9v8aUmW3IFMetD0E=
		</data>
		<key>Resources\Audio\OCEFIAudio_VoiceOver_Boot.wav</key>
		<data>
		dXRc09YdoLrc8Heip4I4sHIicsfDwiXCGjjPzF+IJok=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_1.wav</key>
		<data>
		VG3Qafo0OLqxIvaEf1SV3bpm6vpX743P2cvNgBVaMSk=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_2.wav</key>
		<data>
		wElwOEDFtxU7xt+b1MLA8D63TZfZoWZ0pUsm89/OwWg=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_3.wav</key>
		<data>
		dCx6p3g6mq3uxwrx4w29DsPVVXpkCK+tVD1Sjj9tNc0=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_4.wav</key>
		<data>
		Kg7P2h9rgqYiJClG1o1ExK3Zu1bDbTCsL1xjU9Mz+pM=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_5.wav</key>
		<data>
		M/MO0zh3/wqGElOTDC68sVPBuXIEDtdfdjdgiYBqBB4=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_6.wav</key>
		<data>
		ufAapXmrUpguERC4aactbVGUG86BmUVVfBi92VtnQ9c=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_7.wav</key>
		<data>
		YZmtuFfJWoWYXKIFMO9TOiPc2LmOmYqr+oa5Y+NYZTA=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_8.wav</key>
		<data>
		sZAbKOwnYfXtw1EoHpUMyFgcKBP6B0LwDc0fqiOi83U=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_9.wav</key>
		<data>
		xYkatata+PT7ItcIQaZKlm+cmHZ+HiH9EKiTGN37PHI=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_AbortTimeout.wav</key>
		<data>
		1uibGhR6k+/hCEeQANQShQaST5KDhWI4lbrAmT8edks=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_ChooseOS.wav</key>
		<data>
		gZ/S2TAzjZBBvroukkoCmgh1HXQhckByT8UQ7gs6lq0=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_Default.wav</key>
		<data>
		ZKQ/I4Pm/YFccPcGienLbKEBvo5iQJD0ErG3IeJ5HqA=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_DiskImage.wav</key>
		<data>
		1LcsMj2gsxdFP8Gb8LRkTb1Jl1Q9kGJEH/e8pJmqorY=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_EnterPassword.wav</key>
		<data>
		b7eUdlJZ6yX77dX12Soh/ccF7WmXvlOdx4V5cIKuB0A=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_ExecutionFailure.wav</key>
		<data>
		k98J4w3ZwGI17JI1s1uob+s/VCpzJJ2Uj915X7mVJBM=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_ExecutionSuccessful.wav</key>
		<data>
		gvNqlfMJjPDZgndfJqoecSQFvZYcFgVJKEsTpNpQ6F8=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_External.wav</key>
		<data>
		fGuVSdzJlvxPqtM2fkq08arT6r4uxJXqKQ4SbH/WQNc=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_ExternalOS.wav</key>
		<data>
		4Xolpq58ibX53VOt6Kb+H70y5E185p6TBnEeiHY+GsM=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_ExternalTool.wav</key>
		<data>
		JKmpe7yBZlm3Kfvlj2BLLB+kts9znF5VzN5RwMtcXTU=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterA.wav</key>
		<data>
		Ab9GSQqJt+VpS66W6Ln6Kw4yVRDwUK7HEX70N+86prs=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterB.wav</key>
		<data>
		f4etla3ZtxwSvcNzHBG4rHkkGjXXKvC+JazoXKkfREk=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterC.wav</key>
		<data>
		DEAJ8vbxD0QkUef3ECCNHKIZmo1sWPOYqSrR4PM7oiw=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterD.wav</key>
		<data>
		5SPzE0oNWpx6OrKBk1jRoY/XBa/LvgEc9s4BmEGYnys=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterE.wav</key>
		<data>
		Qwf3vpqCj+shOGDZuJFjmkycMX45xuOB39qhdOorh4E=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterF.wav</key>
		<data>
		N1loYsxg28zrLkOxoKc/JwwbPFOuNEYFm+h2oQJ6g3g=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterG.wav</key>
		<data>
		jLBa1TCDOCrp7ciE7DgKiCc/ZZrDZo420ZXBT9mxfYo=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterH.wav</key>
		<data>
		pz6kjNZWp8wXUqxbsLH8WJgqpneaeAQZlmXMoty0ujc=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterI.wav</key>
		<data>
		Q8WF0e8Sr3hiW72xcVNDYjl5Sbmp3GaqCokzSOc8UQM=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterJ.wav</key>
		<data>
		I6MqoFYzk1B2beObzBBgK4ULtrmnVzcGVSk1qYfRofY=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterK.wav</key>
		<data>
		TjxDx9X+A74OcFmbwq39CxSFYeR0duwnk7LmyqR1S4Q=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterL.wav</key>
		<data>
		jp/PkNSO/9biGVS2/SJQU6TUOBkjubEV8IS+AuEx71Q=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterM.wav</key>
		<data>
		TAYU22wxweaNO59VBXCRU93Ma04m6cLr+WCE/uSgZdU=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterN.wav</key>
		<data>
		vNgkFHgZLezJazgCUGcBu9/hkdce+x+wR0bOLSkF6/A=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterO.wav</key>
		<data>
		VLuUF+VmGWgrFzCq3fcXO/rTmwKW1Bgl0n2Z7WdBqPU=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterP.wav</key>
		<data>
		FE0yX2/1uud8dLijA3GtpthXBqevtYjy7109P5uB0jE=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterQ.wav</key>
		<data>
		O4vSOXq1KqxogRpE5jov6G/ywZ5u/IwKPw2tt7Xm5RI=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterR.wav</key>
		<data>
		esaPNxIoghjyueUifNFphc0YrDE8On9G/YScFTJwItw=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterS.wav</key>
		<data>
		WGs6dL81bvYfBls7QLGaoIZXPklH+hxObdIFhMx8hOk=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterT.wav</key>
		<data>
		h2wwrU7TXS5A3Pfj5XFXA9MGmkaleAv7zolpDCAWcA8=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterU.wav</key>
		<data>
		HEOUtiHlozrDheyW3x2spf1GM8uW8REGzKo9RsAlVvk=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterV.wav</key>
		<data>
		tmscgD16sJXDgD1pMG0Re7CrRB2mosILsmEW0FFFz/Y=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterW.wav</key>
		<data>
		uaqCyDr4FyMSGiEA63gZg4EGbNerx/ono35p5hcIMqA=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterX.wav</key>
		<data>
		HNQnZApyN+WBB+BLmuStSDhHjKzTCjnPtL6NeSGr49Y=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterY.wav</key>
		<data>
		8/mmDrZkX+1nm1oK+FHyFScfBQD0MFvqEAAQAKj12ac=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_LetterZ.wav</key>
		<data>
		maKF0dcTdTn75pU4x53cvqzIG6UOcB30RsiQuVDxjVk=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_Loading.wav</key>
		<data>
		73Au9HbTwf9GmgDIZzQ9ZRvhtQSNmJ8dSr+6SWLhVsA=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_OtherOS.wav</key>
		<data>
		v2E/feewTiAxHIAa9cRPZvJp7p2aYOMSVzyb8YVLquQ=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_PasswordAccepted.wav</key>
		<data>
		M8srxzoneOInTCBsB0znUUNxo/6BDs6doQ27+oA8X8I=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_PasswordIncorrect.wav</key>
		<data>
		aMOw32Pcx18HrfrENnXR6aySkXHwpHR7M0GcI2wfuVM=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_PasswordRetryLimit.wav</key>
		<data>
		/i+BtiXJS9ow04Kyq8yteFLBbHc5qkqa5FKBnI+mRF0=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_Reloading.wav</key>
		<data>
		2VjsdLMQPwPEZxMppXJUaQDVtfnfuAwt7BCwnQNx3eU=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_ResetNVRAM.wav</key>
		<data>
		rbB4xY6B3H7a5aKsfOoPZgvp8QtJFy74WoGIiFeQQ5Q=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_Selected.wav</key>
		<data>
		qyG80MOj9jDZ/h63sos3RfIBT7PeX13sCjlj+VECB7Q=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_ShowAuxiliary.wav</key>
		<data>
		SaeH/lKLGRtbpH+U5Ol0Bnt2JxQxC91dfsgJgnDn2/c=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_Timeout.wav</key>
		<data>
		zhhA4j+Z6UfdnwZNpwxCymlpUBjoSt2txwWeoai5h80=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_UEFI_Shell.wav</key>
		<data>
		0XnuILu3vGBRn5p5cVwFj6aGiuc1WNSJxl5CmJ8z7Zo=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_Welcome.wav</key>
		<data>
		Jj41Bad8d0XzO3Q5Js40RnfjBW4VHmQCGI/R5nO78KU=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_Windows.wav</key>
		<data>
		HOQNErdCYGm7w5zFSNFbiSB0NXRdMTdR470pfiJIcEY=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_macOS.wav</key>
		<data>
		AhfrWJq2FFeZXNTvEEwaloWGkHmvp1Ll4j35ib/lvmk=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_macOS_Recovery.wav</key>
		<data>
		Afgy1SVojMzn9rQDkzO0zMASIEsPXC3h3AlWqIqZjK8=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_macOS_TimeMachine.wav</key>
		<data>
		x1WeviU9mG0uuAryZtPa8CKCFwgX6VtFbNGZNQOk53Y=
		</data>
		<key>Resources\Audio\OCEFIAudio_en_macOS_UpdateFw.wav</key>
		<data>
		1bMuW4UVH22Hhzl3SXtUb9rweNPo4TLEmbBngRxB8aY=
		</data>
		<key>Resources\Font\Font_1x.bin</key>
		<data>
		UbpyosL4nwwA6nHT+hU6EOZcObI/n1sZwA/b5snHQxU=
		</data>
		<key>Resources\Font\Font_1x.png</key>
		<data>
		cCpjm973z5PWFF0Ir3qAksRwfAjPujdpJT8cC7GbG5Q=
		</data>
		<key>Resources\Font\Font_2x.bin</key>
		<data>
		s2rSstzd4UZ1lFLSUUt/eAC5xomPooRWaWXWn2EbsYg=
		</data>
		<key>Resources\Font\Font_2x.png</key>
		<data>
		T7Rc18QRoPovyg6kwfwqATD4rwvNxxJ07ID7sZ8UrE4=
		</data>
		<key>Resources\Image\AppleRecv.icns</key>
		<data>
		B7hfEZiy+0DN5mhJRhO8vRXKn7xj/CYaunv3+aPcw0I=
		</data>
		<key>Resources\Image\AppleTM.icns</key>
		<data>
		2THGhilwQruqRcy0LW1OqCGr5qVaxlWHQzKb96AtBwQ=
		</data>
		<key>Resources\Image\Cursor.icns</key>
		<data>
		jWnjyC+nftf8rbEBmttXiqobKyBgUNNVTnKTRH2k1vU=
		</data>
		<key>Resources\Image\ExtAppleRecv.icns</key>
		<data>
		7xLvdstZvJsbpWA0XV68d/Wvf2qj8o21dwlHiORrc38=
		</data>
		<key>Resources\Image\ExtAppleTM.icns</key>
		<data>
		qNVam12lgS9r1kxUMrTkFNa7IC4qyXEf1XAqyfXRq58=
		</data>
		<key>Resources\Image\ExtHardDrive.icns</key>
		<data>
		byYuBaNvH/PloBeLM5YmwVa+aN6Pm120uQZSzhF0RYs=
		</data>
		<key>Resources\Image\HardDrive.icns</key>
		<data>
		ZSydAoxJb6XadZEPkLMSur6b76ouYgo0bedlFcPdGZw=
		</data>
		<key>Resources\Image\OldAppleRecv.icns</key>
		<data>
		BYIIrqxgEPGXmoah2ZkMmI7rSVwXHwTZRE0u7ZeRAiI=
		</data>
		<key>Resources\Image\OldAppleTM.icns</key>
		<data>
		kfqbz0TgBkWq0TlYnZgBVjIigruI8fVrW+rjIc1fd4g=
		</data>
		<key>Resources\Image\OldCursor.icns</key>
		<data>
		cFrd6p5REd0tw/V/R0QLKCTIwR3FIZWor2hjc0pNQvQ=
		</data>
		<key>Resources\Image\OldExtAppleRecv.icns</key>
		<data>
		kCAVGiy7XvX5OeArbGsj/YA2tPFO9H5Nu2rsK3mlwaE=
		</data>
		<key>Resources\Image\OldExtAppleTM.icns</key>
		<data>
		v1i8lfUZhtA0AZzjSYTIm7LALt8ewR3XFtxesyqYpQg=
		</data>
		<key>Resources\Image\OldExtHardDrive.icns</key>
		<data>
		lx2LM6/BjCD+7JjBZwxTifveSSBuZ0a0vZozYfgPhsM=
		</data>
		<key>Resources\Image\OldHardDrive.icns</key>
		<data>
		bdk6FQmsEZNwuu23yYPgcPL2I3Ef/J5EMLFgZj8JmCk=
		</data>
		<key>Resources\Image\OldSelected.icns</key>
		<data>
		vx8ufLxFiYZRp2r38/XXdwAZCC5YA5X5CDi1nV1eDlA=
		</data>
		<key>Resources\Image\OldSelector.icns</key>
		<data>
		9rRKs/YfQiHpV0iqtD9yexvZ25YKg5d3OoDD3cepdMA=
		</data>
		<key>Resources\Image\OldShell.icns</key>
		<data>
		gEcPCfcDTmFjthsXV+0PmwUQJiThDYfLGU8EiMWm1Yo=
		</data>
		<key>Resources\Image\OldTool.icns</key>
		<data>
		ki1bEsK6JJbF7q3YNKyeoa+zh+UzJiAaQZSZOZWArYs=
		</data>
		<key>Resources\Image\OldWindows.icns</key>
		<data>
		wNcbRCTnfXw2Baf/ZnCvqoHh1c0O80ez6gQod9GAm/s=
		</data>
		<key>Resources\Image\Selected.icns</key>
		<data>
		3j7UwdA2B+fxXOpYKLe6onQ0k6QZJpjCim84A7Uho84=
		</data>
		<key>Resources\Image\Selector.icns</key>
		<data>
		IfpTJIn1e29emudlPZdU+Tc8kw8V38/qBG0D3gRuVvk=
		</data>
		<key>Resources\Image\Shell.icns</key>
		<data>
		p5qs2O/dgXshBdR3+inPDaS7dH3chT5CY0G9DVlO1Y8=
		</data>
		<key>Resources\Image\Tool.icns</key>
		<data>
		P/qbWF8tPEpxYMJaR8zmm0aYw44eX6zYSKQczHYKtuo=
		</data>
		<key>Resources\Image\Windows.icns</key>
		<data>
		vdSheJ+3sDd3ARNfArhva6RhRFwnuaQz9ZN/X7oh38o=
		</data>
		<key>Resources\Label\Apple.l2x</key>
		<data>
		aqQuuV8p4HnZyMw9D3OJ6GuyaHoi2LH5mOTMiHsP8B0=
		</data>
		<key>Resources\Label\Apple.lbl</key>
		<data>
		Beur9wk5wxkmid2OEO1n7hJr75sAEaEbilsftssHsVk=
		</data>
		<key>Resources\Label\AppleRecv.l2x</key>
		<data>
		45KSmt4VG9OpqhvlrzFyzYti6k1acdD10jKE7u1LBow=
		</data>
		<key>Resources\Label\AppleRecv.lbl</key>
		<data>
		ZNl8ExxImOlljcrtb0HRj9yZwvPOV7bBf+UVgq1quNw=
		</data>
		<key>Resources\Label\AppleTM.l2x</key>
		<data>
		vlVLy0ljWOJ6/CLBBKi3tTsni3zSNQSLAy3grJv3Fec=
		</data>
		<key>Resources\Label\AppleTM.lbl</key>
		<data>
		FHQN+5rnVtoLvnEYSWmOT/rc4a9Xm0rPh4L0FIqadtA=
		</data>
		<key>Resources\Label\EFIBoot.l2x</key>
		<data>
		tUq1rW76qR+qrXVI9RI8bnqCWflnAWtGnhDgCTg4IZ4=
		</data>
		<key>Resources\Label\EFIBoot.lbl</key>
		<data>
		Zcy1wg8NZqZmUacQhy6KkH19QbcEnGR9YgvK0sqONbA=
		</data>
		<key>Resources\Label\Other.l2x</key>
		<data>
		bToqVY/uMYK1bZIRKXjW3yY/r8UIi/vKtMxIflqRvPE=
		</data>
		<key>Resources\Label\Other.lbl</key>
		<data>
		mqInO/f5n7q8fukEDFzomQlFwJL4QxYRqlcmFoJ/f8o=
		</data>
		<key>Resources\Label\ResetNVRAM.l2x</key>
		<data>
		hYMKejHsjiMruJTRWlb1ghGYLD9nWj62/oGQ9AMABkM=
		</data>
		<key>Resources\Label\ResetNVRAM.lbl</key>
		<data>
		x/EwJcwlbQV6AmKggOwO2TP/9yAhi79HyHYvL+Q1AJg=
		</data>
		<key>Resources\Label\Shell.l2x</key>
		<data>
		iL/jdtTT78wa42h1t64Nwf3yf3o8LYWbC4pfh/Y60b8=
		</data>
		<key>Resources\Label\Shell.lbl</key>
		<data>
		7yts2fxOEcPtVYVV/Pvp+zN3/V2HISzrXh3B+pReBEU=
		</data>
		<key>Resources\Label\Tool.l2x</key>
		<data>
		L9RHriS0wbQ6Yx9aEWobWlnFj0mVn85MX+1+d08HvyQ=
		</data>
		<key>Resources\Label\Tool.lbl</key>
		<data>
		gAm1eccLkfAykSaU3SXahr3mwZTfF2WRTQmdjY5OezU=
		</data>
		<key>Resources\Label\Windows.l2x</key>
		<data>
		ss8U4b4/hAy/cUyNikpOdqY1x+5bsmqVOSIlhDCRdwg=
		</data>
		<key>Resources\Label\Windows.lbl</key>
		<data>
		qSL4ofi7m/ym98/PsrcsC6zCF+D2Et1O9Gd7w9UElkg=
		</data>
		<key>Tools\OpenShell.efi</key>
		<data>
		7OHNxdcgg9G9f4JHO1zNTUZAD4OZRLp+H4fFVL7reas=
		</data>
		<key>Tools\WhateverName.app\Contents\Info.plist</key>
		<data>
		/rcceNal7O70vv8O6w0qOGLGdDLutuArk0OAnfF+Lu0=
		</data>
		<key>Tools\WhateverName.app\Contents\MacOS\WhateverName</key>
		<data>
		DX+oNM+53c+GGxn/tRZUH9ZkHzIozpfJDHUGoQJBVT8=
		</data>
		<key>Tools\WhateverName.app\Contents\MacOS\libWhateverName.dylib</key>
		<data>
		DGsB3WcgJydhAiRB/Tw1CE3eQl+ec6piEVjUY64EB/I=
		</data>
		<key>Tools\WhateverName.app\Contents\Resources\icon.icns</key>
		<data>
		w5qVMH4pu4ez5JCxqKg4W4YlT3K5ob+Tn+lsUvnniFo=
		</data>
		<key>Tools\libaistat.dylib</key>
		<data>
		7iKkI5n9zIhYMDWz4EUkvMU7I9fVtha6qthzD46P3BA=
		</data>
		<key>Tools\rtcread</key>
		<data>
		Pbu3gDJuEyUb2+xpCdPIJl3sYV05ZVM5HWdYPH3eN3g=
		</data>
		<key>Tools\smc</key>
		<data>
		O1PoKEcCrotY7/wMtt+5MIrSQXDiy1XTfsaznw8izHY=
		</data>
		<key>Tools\smcread</key>
		<data>
		5noNVcHKWEEWsMQfeJ85L15AG4Hyw/Tic0NDT8Op88c=
		</data>
		<key>config.plist</key>
		<data>
		mpsmoIq+HJneEvHE4z3/CcGeX4urIdB0zELhU0CTQWw=
		</data>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
